*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #222;
    color: white;
}

.fade-out{
    animation: fadeOut 0.4s ease forwards;
}

@keyframes fadeOut{
    to{
        opacity: 0;
    }
}

.navBar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
}

.navList{
    display: flex;
    list-style-type: none;
    gap: 25px;
}

.menuBtn{
    display: none;
    font-size: 26px;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
}

a:hover{
    text-decoration: underline;
    color: rgb(215, 21, 215);
}

.contactBtn:hover{
    text-decoration: none;
    color: white;
}

.logoName{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#firstName{
    color: rgb(215, 21, 215);
}

#lastName{
    color: white;
}

.name{
    display: flex;
    gap: 5px;
}

.text{
    color: rgb(215, 21, 215);
}

.contactBtn{
    padding: 10px 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: rgb(215, 21, 215);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
}

.contactBtn:hover{
    background-color: rgb(230, 21, 230);
}

.personalImg{
    width: 250px;
    border-radius: 50%;
    background-color: white;
}

.homeDetail{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px;
    gap: 40px;
}

#headline{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin-bottom: 10px;
}

.shortSummary{
    font-size: 30px;
    font-family: cursive;
    font-style: italic;
    margin-bottom: 10px;
}

.portfolioBtn{
    border: 2px solid rgb(215, 21, 215);
    background-color: rgba(255, 255, 255, 0);
    color: rgb(215, 21, 215);
    border-radius: 20px;
    padding: 12px 17px;
    cursor: pointer;
    font-size: 18px;
}

.question{
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 10px;
}

.ansQues{
    font-size: 30px;
    font-family: cursive;
}

.portfolioBtn:hover{
    background-color: rgba(255, 255, 255, 0.065);
}

.lineSer{
    display: flex;
    align-items: center;
    gap: 10px;
}

.line{
    width: 20px;
    height: 2px;
    background-color: rgb(215, 21, 215);
    border: none;
    border-radius: 10px;
}

.ser{
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.head{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.serviceBox{
    background-color: purple;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    border: 2px solid white;
}

.serviceHead{
    font-size: 30px;
    margin-bottom: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.serviceDetail{
    font-size: 25px;
    font-family: cursive;
    max-height: 0;
    transition: max-height 0.4s ease, opacity 0.3s ease;
    opacity: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.serviceDetail.show{
    max-height: 150px;
    opacity: 1;
}

.serviceDetail::-webkit-scrollbar{
    width: 6px;
}

.serviceDetail::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 10px;
}

.box{
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 20px auto;
    margin-bottom: 20px;
    padding: 20px;
}

.learnBtn{
    padding: 5px 15px;
    border: none;
    background-color: rgba(255, 255, 255);
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.spanTag{
    color: rgb(215, 21, 215);
}

.desingTag{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tool{
    width: 150px;
    height: 200px;
    background-color: #f0f0f0;
    border: 2px solid black;
    border-radius: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.toolBox{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    gap: 10px;
}

.toolPer{
    font-size: 25px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.logoImg{
    width: 100px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    border-radius: 20px;
}

.toolName{
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.educationDetail{
    background-color: #f0f0f0;
    color: black;
    width: 400px;
    padding: 25px;
    margin: 50px auto;
    border-radius: 20px;
}

h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #22222288;
    font-size: 20px;
}

.edu{
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
}

.eduDetail{
    margin-bottom: 20px;
}

.educatTag{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tagEducat{
    color: rgb(215, 21, 215);
}

.eduText{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.conHead{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 7px;
}

.conDetail{
    font-size: 30px;
    font-family: cursive;
    margin-bottom: 20px;
}

.conLeftSection{
    margin: 20px;
}

.detailContact{
    font-size: 30px;
    margin-bottom: 12px;
}

#paraDetailContact{
    margin-bottom: 30px;
}

.conLogo{
    margin-right: 10px;
    width: 30px;
    border-radius: 10px;
}

.conAnchor{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.contactSection{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.conRightSection{
    width: 50%;
    padding: 40px;
    border-radius: 20px;
    border: 2px solid white;
    display: block;
    align-items: center;
    justify-content: center;
}

.btnContact{
    font-size: 20px;
    padding: 10px 20px;
    border: 2px solid rgb(215, 21, 215);
    border-radius: 20px;
    background-color: rgba(255, 252, 252, 0);
    color: rgb(215, 21, 215);
    cursor: pointer;
}

.btnContact:hover{
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.058);
    transform: scale(1.05);
}

.inputField{
    padding: 10px;
    font-size: 18px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 20px;
    border: none;
    margin-bottom: 20px;
}

label{
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
}

.inputField:focus{
    border: 2px solid rgb(215, 21, 215);
    outline: none;
}

.inputSection{
    display: flex;
    gap: 50px;
    margin-bottom: 15px;
}

.errMsg{
    color: red;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.successMsg{
    color: rgb(9, 215, 9);
}

.field{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.textField{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.submitBtn{
    padding: 18px 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    background-color: rgb(211, 87, 211);
    color: white;
    transition: transform 0.2s ease;
}

.goBackBtn{
    padding: 15px 20px;
    font-size: 20px;
    color: black;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: transform 0.2s ease;
}

.goBackBtn:hover{
    text-decoration: none;
    color: black;
    transform: scale(1.05);
}

.btnn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

.submitBtn:hover{
    background-color: rgb(200, 80, 200);
}

.submitBtn:disabled{
    cursor: not-allowed;
    background-color: gray;
}

.submitBtn:not(:disabled):hover{
    transform: scale(1.05);
}

#successMsg{
    font-size: 25px;
    color: rgb(87, 228, 87);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.thankDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    background-color: #222;
    animation: fadeSlide 0.8s ease-out forwards;
}

@keyframes fadeSlide{
    from{
        opacity: 0;
        transform: translateY(30px);
    }

    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

.thankHead{
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: Red;
}

.thankMsg{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: red;
}

.backBtn{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 8px;
    font-size: 17px;
    border: none;
    border-radius: 10px;
    margin-top: 15px;
    color: #222;
    background-color: white;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

.backBtn:hover{
    background:  #0b5cd6;
    color: white;
    transform: translateY(-2px);
    text-decoration: none;
}

@media(max-width:1300px){
    .conRightSection{
        width: 70%;
        padding: 40px;
    }
}

@media(max-width: 1000px){
    .conRightSection{
        width: 85%;
        padding: 35px;
    }
}

@media(max-width: 820px){
    .contactSection{
        padding: 20px;
    }

    .conRightSection{
        width: 100%;
        margin: 20px;
    }

    .navBar{
        padding: 25px;
    }

    .navList{
        position: fixed;
        height: 100vh;
        right: -200px;
        width: 200px;
        flex-direction: column;
        background: #1e293b;
        top: 0;
        gap: 20px;
        padding: 80px 20px;
        z-index: 1000;
        transition: right 0.3s ease;        
    }

    .navList.active{
        right: 0;
    }

    a{
        font-size: 25px;
    }
    
    .menuBtn{
        display: block;
    }

    .logoName{
        font-size: 25px;
    }

    .contactBtn{
        padding: 8px 17px;
        border-radius: 17px;
        font-size: 15px;
    }

    .personalImg{
        width: 200px;
    }

    .homeDetail{
        padding: 80px;
        gap: 30px;
    }

    #headline{
        font-size: 40px;
    }

    .shortSummary{
        font-size: 25px;
    }

    .question{
        font-size: 40px;
    }

    .ansQues{
        font-size: 25px;
    }

    .portfolioBtn{
        border-radius: 17px;
        padding: 10px 15px;
        font-size: 15px;
    }

    .ser{
        font-size: 30px;
    }

    .head{
        font-size: 40px;
    }

    .serviceBox{
        border-radius: 17px;
        padding: 8px;
        border: 2px solid white;
    }

    .serviceHead{
        font-size: 25px;
        margin-bottom: 12px;
    }

    .serviceDetail{
        font-size: 20px;
    }

    .serviceDetail.show{
        max-height: 120px;
    }

    .serviceDetail::-webkit-scrollbar{
        width: 5px;
    }
    
    .box{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
        padding: 20px;
    }

    .learnBtn{
        padding: 4px 12px;
        border-radius: 17px;
        font-size: 12px;
    }

    .desingTag{
        font-size: 40px;
    }

    .tool{
        width: 150px;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .toolBox{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 20px;
        gap: 20px;
        justify-items: center;
    }
    
    .toolPer{
        font-size: 20px;
    }

    
    .logoImg{
        width: 80px;
    }

    .toolName{
        text-align: center;
        margin-top: 8px;
        font-size: 20px;
    }

    .educationDetail{
        width: 350px;
        padding: 20px;
        margin: 40px auto;
        border-radius: 17px;
    }

    h4{
        font-size: 17px;
    }

    .edu{
        font-size: 25px;
    }

    .educatTag{
        font-size: 40px;
    }

    .eduText{
        font-size: 35px;
    }

    .conHead{
        font-size: 40px;
    }

    .conDetail{
        font-size: 25px;
    }

    .detailContact{
        font-size: 25px;
    }

    .conLogo{
        width: 25px;
    }

    .inputField{
        padding: 10px;
        font-size: 15px;
        border-radius: 15px;
        margin-bottom: 15px;
    }

    label{
        font-size: 30px;
    }

    .inputSection{
        gap: 50px;
        margin-bottom: 15px;
    }

    .errMsg{
        font-size: 15px;
    } 

    .submitBtn{
        padding: 15px 20px;
        font-size: 25px;
        border-radius: 15px;
    }

    .goBackBtn{
        padding: 12px 17px;
        font-size: 17px;
        border-radius: 15px;
    }

    #successMsg{
        font-size: 20px;
    }

    .thankHead{
        font-size: 40px;
    }

    .thankMsg{
        font-size: 25px;
    }

    .backBtn{
        padding: 6px;
        font-size: 15px;
    }
}

@media (max-width: 600px){
    .navBar{
        padding: 20px;
    }

    a{
        font-size: 20px;
    }

    .logoName{
        font-size: 20px;
    }

    .contactBtn{
        padding: 6px 15px;
        border-radius: 15px;
        font-size: 12px;
        text-align: center;
    }

    .personalImg{
        width: 150px;
    }

    .homeDetail{
        padding: 60px;
        gap: 25px;
    }

    #headline{
        font-size: 30px;
    }

    .shortSummary{
        font-size: 20px;
    }

    .quesAns{
        padding: 20px;
    }

    .question{
        font-size: 30px;
    }

    .ansQues{
        font-size: 20px;
    }

    .portfolioBtn{
        border-radius: 15px;
        padding: 8px 12px;
        font-size: 12px;
    }

    .ser{
        font-size: 25px;
    }

    .head{
        font-size: 30px;
    }

    .serviceBox{
        border-radius: 15px;
        padding: 5px;
        border: 2px solid white;
    }

    .serviceHead{
        font-size: 20px;
        margin-bottom: 10px;
    }

    .serviceDetail{
        font-size: 17px;
    }

    .serviceDetail.show{
        max-height: 100px;
    }

    .serviceDetail::-webkit-scrollbar{
        width: 4px;
    }
    
    .box{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 15px;
    }

    .learnBtn{
        padding: 3px 10px;
        border-radius: 15px;
        font-size: 10px;
    }

    .desingTag{
        font-size: 30px;
    }

    .tool{
        width: 120px;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .toolBox{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 17px;
        gap: 20px;
        justify-items: center;
    }
    
    .toolPer{
        font-size: 15px;
    }

    
    .logoImg{
        width: 60px;
    }

    .toolName{
        text-align: center;
        margin-top: 8px;
        font-size: 15px;
    }

    .educationDetail{
        width: 300px;
        padding: 15px;
        margin: 40px auto;
        border-radius: 15px;
    }

    h4{
        font-size: 15px;
    }

    .edu{
        font-size: 20px;
    }

    .educatTag{
        font-size: 30px;
    }

    .eduText{
        font-size: 30px;
    } 

    .conHead{
        font-size: 30px;
    }

    .conDetail{
        font-size: 20px;
    }

    .detailContact{
        font-size: 20px;
    }

    .conLogo{
        width: 20px;
    }

    .inputField{
        padding: 8px;
        font-size: 15px;
        border-radius: 13px;
        margin-bottom: 12px;
    }

    label{
        font-size: 23px;
    }

    .inputSection{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .field{
        width: 100%;
    }

    .errMsg{
        font-size: 12px;
    } 

    .submitBtn{
        padding: 12px 15px;
        font-size: 20px;
        border-radius: 12px;
    }

    .goBackBtn{
        padding: 10px 15px;
        font-size: 15px;
    }

    #successMsg{
        font-size: 15px;
    }

    .thankHead{
        font-size: 30px;
    }

    .thankMsg{
        font-size: 20px;
    }

    .backBtn{
        padding: 5px;
        font-size: 12px;
    }
}